.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 60px 120px;
    p{
        font-size: 20px;
        margin-bottom: 30px;
        // white-space: pre
        display: inline;
        overflow: hidden; 
        white-space: wrap;
        text-align: justify;
    }
    h2{
        font-size: 30px;
        margin-bottom: 20px;
        color: #1F6F9A;
    }
    .chartsContainer{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        .chartConatiner{
            display: flex;
            flex-direction: column;
            width: 22%;
            padding: 20px;
            padding-left: 0;
            h3{
                font-size: 20px;
                margin-bottom: 20px;
                color: #1F6F9A;
            }
        }
    }

    .userInfoContainer{
        display: flex;
        justify-content: space-between;
        
        .userDataBox{
            min-height: 50px;
            width: 80%;
            background-color: #DEEDF5;
            border-radius: 20px;
            margin-bottom: 40px;
            align-items: center;
            padding: 20px 40px;

            .iconTextContainer{
                display: flex;
                flex-wrap: wrap;
                width:100%;
                gap: 10px;
                
                .iconText{
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    .patternImg{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0;

    }
}